<section id="swiper-slider">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item slide-1 active">
        <!-- <img
          class="d-block w-100 slide-1"
          src="/assets/img/banner-3.jpg"
          alt="First slide"
        /> -->
      </div>
      <div class="carousel-item slide-2">
        <!-- <img
          class="d-block w-100 slide-2"
          src="/assets/img/banner-4.jpg"
          alt="Second slide"
        /> -->
      </div>
      <div class="carousel-item slide-3">
        <!-- <img
          class="d-block w-100 slide-3"
          src="/assets/img/banner-1.jpg"
          alt="Third slide"
        /> -->
      </div>
      <div class="carousel-item slide-4">
        <!-- <img
          class="d-block w-100 slide-4"
          src="/assets/img/banner-2.jpg"
          alt="Third slide"
        /> -->
      </div>
    </div>
    <!-- <a
      class="carousel-control-prev"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
    <a
      class="carousel-control-prev"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <i class="fa fa-angle-left"></i>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <i class="fa fa-angle-right"></i>
    </a>
    <div class="carousel-control-explore">
      <button class="btn btn-carousel">EXPLORE</button>
    </div>
  </div>
</section>

<section id="intro">
  <div class="container-fluid intro-container">
    <div class="row">
      <div class="col-md-6 intro-left">
        <div class="intro-left-content text-center">
          <h4>Future Vehicles</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Praesentium laboriosam dolore ad dolores dicta error suscipit aut ex
            sit, eligendi alias numquam temporibus tempora provident harum omnis
            obcaecati quasi sapiente.
          </p>
          <button class="btn btn-go">GO</button>
        </div>
      </div>
      <div class="col-md-6 intro-right">
        <div class="intro-right-content">
          <h4>BUILD & PRICE</h4>
          <p>The next-generation Type R is on its way.</p>
          <button class="btn btn-build">BUILD MY VEHICLE</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="our-vehicles">
  <h1 class="display-1 text-center">Our Vehicles</h1>
  <div class="carousel slide" data-ride="carousel" id="our-vehicles-slider">
    <ol
      class="carousel-indicators-config d-none d-md-flex list-unstyled justify-content-around w-75 mx-auto"
    >
      <li class="active" data-slide-to="0" data-target="#our-vehicles-slider">
        CARS
      </li>
      <li data-slide-to="1" data-target="#our-vehicles-slider">
        CROSSOVER & SUVS
      </li>
      <li data-slide-to="2" data-target="#our-vehicles-slider">
        MINIVAN & TRUCK
      </li>
      <li data-slide-to="3" data-target="#our-vehicles-slider">
        ENVIRONMENTAL
      </li>
      <li data-slide-to="4" data-target="#our-vehicles-slider">FUTURE</li>
    </ol>
    <div class="carousel-indicators-xs d-block d-md-none">
      <div class="d-flex align-items-center indicators-xs-header">
        <h1 class="indicators-title">
          VEHICLE CATEGORIES<br />
          <span>CARS</span>
        </h1>
        <i class="fa fa-angle-down"></i>
      </div>
      <ol>
        <li data-slide-to="0" data-target="#our-vehicles-slider">CARS</li>
        <li data-slide-to="1" data-target="#our-vehicles-slider">
          CROSSOVER & SUVS
        </li>
        <li data-slide-to="2" data-target="#our-vehicles-slider">
          MINIVAN & TRUCK
        </li>
        <li data-slide-to="3" data-target="#our-vehicles-slider">
          ENVIRONMENTAL
        </li>
        <li data-slide-to="4" data-target="#our-vehicles-slider">FUTURE</li>
      </ol>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active item-1">
        <div class="carousel-caption--config">
          <p>CARD 1 <span>/12</span></p>
          <img src="../../../assets/img/civic-logo.jpg" class="img-fluid" />
          <p class="caption-content d-none d-md-block">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis
            eum atque ipsum voluptates temporibus qui soluta voluptatibus in
            temporibus qui soluta voluptatibus in dolor sint?Lorem ipsum, dolor
          </p>
          <div class="carousel-caption-detail d-flex justify-content-between">
            <div class="carousel-detail-content">
              <h2>$23,579</h2>
              <p>STARTING MSRP</p>
            </div>
            <div class="carousel-detail-content">
              <h2>38/30</h2>
              <p>HWY/CITY RATING</p>
            </div>
          </div>
          <button class="btn btn-carousel btn-caption">EXPLORE</button>
          <button class="btn btn-build btn-caption">BUILD</button>
        </div>
        <div
          class="carousel-caption-footer justify-content-around align-items-center"
        >
          <a href="#">EXPLORE THE ACCORD FAMILY ></a>
          <img
            src="../../../assets/img/accord-family-vehicles-2x.png"
            class="d-fluid d-none d-lg-block"
          />
        </div>
      </div>
      <div class="carousel-item item-2">
        <div class="carousel-caption--config">
          <p>CARD 1 <span>/12</span></p>
          <img src="../../../assets/img/civic-logo.jpg" class="img-fluid" />
          <p class="caption-content d-none d-md-block">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis
            eum atque ipsum voluptates temporibus qui soluta voluptatibus in
            temporibus qui soluta voluptatibus in dolor sint?Lorem ipsum, dolor
          </p>
          <div class="carousel-caption-detail d-flex justify-content-between">
            <div class="carousel-detail-content">
              <h2>$23,579</h2>
              <p>STARTING MSRP</p>
            </div>
            <div class="carousel-detail-content">
              <h2>38/30</h2>
              <p>HWY/CITY RATING</p>
            </div>
          </div>
          <button class="btn btn-carousel btn-caption">EXPLORE</button>
          <button class="btn btn-build btn-caption">BUILD</button>
        </div>
        <div
          class="carousel-caption-footer justify-content-around align-items-center"
        >
          <a href="#">EXPLORE THE ACCORD FAMILY ></a>
          <img
            src="../../../assets/img/accord-family-vehicles-2x.png"
            class="d-fluid d-none d-lg-block"
          />
        </div>
      </div>
      <div class="carousel-item item-3">
        <div class="carousel-caption--config">
          <p>CARD 1 <span>/12</span></p>
          <img src="../../../assets/img/civic-logo.jpg" class="img-fluid" />
          <p class="caption-content d-none d-md-block">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis
            eum atque ipsum voluptates temporibus qui soluta voluptatibus in
            temporibus qui soluta voluptatibus in dolor sint?Lorem ipsum, dolor
          </p>
          <div class="carousel-caption-detail d-flex justify-content-between">
            <div class="carousel-detail-content">
              <h2>$23,579</h2>
              <p>STARTING MSRP</p>
            </div>
            <div class="carousel-detail-content">
              <h2>38/30</h2>
              <p>HWY/CITY RATING</p>
            </div>
          </div>
          <button class="btn btn-carousel btn-caption">EXPLORE</button>
          <button class="btn btn-build btn-caption">BUILD</button>
        </div>
        <div
          class="carousel-caption-footer justify-content-around align-items-center"
        >
          <a href="#">EXPLORE THE ACCORD FAMILY ></a>
          <img
            src="../../../assets/img/accord-family-vehicles-2x.png"
            class="d-fluid d-none d-lg-block"
          />
        </div>
      </div>
      <div class="carousel-item item-4">
        <div class="carousel-caption--config">
          <p>CARD 1 <span>/12</span></p>
          <img src="../../../assets/img/civic-logo.jpg" class="img-fluid" />
          <p class="caption-content d-none d-md-block">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis
            eum atque ipsum voluptates temporibus qui soluta voluptatibus in
            temporibus qui soluta voluptatibus in dolor sint?Lorem ipsum, dolor
          </p>
          <div class="carousel-caption-detail d-flex justify-content-between">
            <div class="carousel-detail-content">
              <h2>$23,579</h2>
              <p>STARTING MSRP</p>
            </div>
            <div class="carousel-detail-content">
              <h2>38/30</h2>
              <p>HWY/CITY RATING</p>
            </div>
          </div>
          <button class="btn btn-carousel btn-caption">EXPLORE</button>
          <button class="btn btn-build btn-caption">BUILD</button>
        </div>
        <div
          class="carousel-caption-footer justify-content-around align-items-center"
        >
          <a href="#">EXPLORE THE ACCORD FAMILY ></a>
          <img
            src="../../../assets/img/accord-family-vehicles-2x.png"
            class="d-fluid d-none d-lg-block"
          />
        </div>
      </div>
      <div class="carousel-item item-4">
        <div class="carousel-caption--config">
          <p>CARD 1 <span>/12</span></p>
          <img src="../../../assets/img/civic-logo.jpg" class="img-fluid" />
          <p class="caption-content d-none d-md-block">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis
            eum atque ipsum voluptates temporibus qui soluta voluptatibus in
            temporibus qui soluta voluptatibus in dolor sint?Lorem ipsum, dolor
          </p>
          <div class="carousel-caption-detail d-flex justify-content-between">
            <div class="carousel-detail-content">
              <h2>$23,579</h2>
              <p>STARTING MSRP</p>
            </div>
            <div class="carousel-detail-content">
              <h2>38/30</h2>
              <p>HWY/CITY RATING</p>
            </div>
          </div>
          <button class="btn btn-carousel btn-caption">EXPLORE</button>
          <button class="btn btn-build btn-caption">BUILD</button>
        </div>
        <div
          class="carousel-caption-footer justify-content-around align-items-center"
        >
          <a href="#">EXPLORE THE ACCORD FAMILY ></a>
          <img
            src="../../../assets/img/accord-family-vehicles-2x.png"
            class="d-fluid d-none d-lg-block"
          />
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#our-vehicles-slider"
      role="button"
      data-slide="prev"
    >
      <i class="fa fa-angle-left"></i>
    </a>
    <a
      class="carousel-control-next"
      href="#our-vehicles-slider"
      role="button"
      data-slide="next"
    >
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
  <div class="container-fluid function-container" id="vehicle-function">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="function-div function-1">
          <h3 class="text-1">Build & Price</h3>
          <p class="text-1">
            Customize a honda vehicle <br />
            to make your very own
          </p>
          <button class="btn btn-go text-1">GO</button>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="function-div function-2">
          <h3 class="text-1">Build & Price</h3>
          <p class="text-1">
            Customize a honda vehicle <br />
            to make your very own
          </p>
          <button class="btn btn-go text-1">GO</button>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="function-div function-3">
          <h3 class="text-1">Build & Price</h3>
          <p class="text-1">
            Customize a honda vehicle <br />
            to make your very own
          </p>
          <button class="btn btn-go text-1">GO</button>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="function-div function-4">
          <h3 class="text-1">Build & Price</h3>
          <p class="text-1">
            Customize a honda vehicle <br />
            to make your very own
          </p>
          <button class="btn btn-go text-1">GO</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="intro">
  <div class="container-fluid intro-container intro-2">
    <div class="row">
      <div class="col-md-6 intro-left intro-left-1">
        <div class="intro-left-content text-center">
          <h4>Future Vehicles</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Praesentium laboriosam dolore ad dolores dicta error suscipit aut ex
            sit, eligendi alias numquam temporibus tempora provident harum omnis
            obcaecati quasi sapiente.
          </p>
          <button class="btn btn-go">GO</button>
        </div>
      </div>
      <div class="col-md-6 intro-right intro-right-1">
        <div class="intro-right-content">
          <h4>BUILD & PRICE</h4>
          <p>The next-generation Type R is on its way.</p>
          <button class="btn btn-build">BUILD MY VEHICLE</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid" id="discover">
    <div class="row">
      <div class="col-12 discover-title text-center">
        <h1 class="display-1">Discover Honda</h1>
        <span
          >Explore the world of Honda through our latest news, events and
          videos.
        </span>
      </div>
      <div class="sm-md-6 col-md-4">
        <div class="discover-item discover-item-1">
          <div class="discover-item-content">
            <h2>Honda Wins J.D. Power ALG Residual Value Award</h2>
            <p>
              Honda was proudly named J.D. Power’s Highest Ranked Brand for
              Residual Value,* an award recognizing vehicles predicted to lead
              their segment in retained value after three years of ownership.
            </p>
            <a href="#">LEARN MORE</a>
          </div>
        </div>
      </div>
      <div class="sm-md-6 col-md-4">
        <div class="discover-item discover-item-2">
          <div class="discover-item-content">
            <h2>The Civic Is the 2022 North American Car of the Year™</h2>
            <p>
              The 2022 Honda Civic has earned the prestigious North American Car
              of the Year™ award for its excellence in innovation, design,
              safety features, overall performance and more.
            </p>
            <a href="#">LEARN MORE</a>
          </div>
        </div>
      </div>
      <div class="sm-md-6 col-md-4">
        <div class="discover-item discover-item-3">
          <div class="discover-item-content">
            <h2>A Little Car Does a Lot of Good</h2>
            <p>
              The Honda Shogo, a small electric car, is helping lift patients’
              spirits as they drive it to their treatments at Children’s Health
              of Orange County.
            </p>
            <a href="#">LEARN MORE</a>
          </div>
        </div>
      </div>
      <div class="sm-md-6 col-md-4">
        <div class="discover-item discover-item-4">
          <div class="discover-item-content">
            <h2>Honda is Kelley Blue Book’s KBB.com 2022 Best Value Brand</h2>
            <p>
              The company praised Honda for its “reliable, efficient, and
              easy-to-drive vehicles.”
            </p>
            <a href="#">LEARN MORE</a>
          </div>
        </div>
      </div>
      <div class="sm-md-6 col-md-4">
        <div class="discover-item discover-item-5">
          <div class="discover-item-content">
            <h2>Explore the Redesigned 2022 Passport</h2>
            <p>
              A bold redesign and the introduction of the all-new TrailSport
              give the 2022 Passport a more commanding presence than ever.
            </p>
            <a href="#">LEARN MORE</a>
          </div>
        </div>
      </div>
      <div class="sm-md-6 col-md-4">
        <div class="discover-item discover-item-6">
          <div class="discover-item-content">
            <h2>Honda Sensing®</h2>
            <p>
              Learn more about our suite of safety and driver-assistive
              technologies designed to alert you to things you might miss while
              driving.
            </p>
            <a href="#">LEARN MORE</a>
          </div>
        </div>
      </div>
      <div class="col-12 text-center">
        <button class="btn btn-carousel">MORE NEWS & EVENTS</button>
      </div>
    </div>
  </div>
</section>

<section
  id="search-field"
  class="search-field d-flex justify-content-between align-items-center"
>
  <div class="order-2 order-md-1">
    <i class="fa fa-search"></i>
    <input type="text" name="" placeholder="Type Something..." />
    <button class="btn btn-search">SEARCH</button>
  </div>
  <p class="back-to-top order-1 order-md-2">
    Back To Top <i class="fa fa-angle-up"></i>
  </p>
</section>

<footer id="footer" class="d-flex justify-content-around">
  <div class="footer-detail">
    <h1 class="d-none d-lg-block">Vehicles</h1>
    <h1
      class="d-flex d-lg-none"
      data-toggle="collapse"
      data-target="#vehicle-footer-nav"
    >
      <span>Vehicles</span>
      <i class="fa fa-plus"></i>
    </h1>
    <div id="vehicle-footer-nav" class="collapse-ul">
      <ul class="list-unstyled">
        <li><a href="#">Civic Models</a></li>
        <li><a href="#">Insight Hybrid</a></li>
        <li><a href="#">Accord Models</a></li>
        <li><a href="#">HR-V Crossover</a></li>
        <li><a href="#">CR-V Crossover</a></li>
        <li><a href="#">Passport SUV</a></li>
        <li><a href="#">Odyssey Minivan</a></li>
        <li><a href="#">Ridgeline Truck</a></li>
        <li><a href="#">Future Vehicles</a></li>
        <li><a href="#">Rugged Capability</a></li>
        <li><a href="#">Electrified Vehicles</a></li>
        <li><a href="#">Honda Certified Pre-Owned</a></li>
        <li><a href="#">All Vehicles</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-detail">
    <h1 class="d-none d-lg-block">Shopping Tools</h1>
    <h1
      class="d-flex d-lg-none"
      data-toggle="collapse"
      data-target="#vehicle-footer-shop"
    >
      <span>Shopping Tools</span>
      <i class="fa fa-plus"></i>
    </h1>
    <div id="vehicle-footer-shop" class="collapse-ul">
      <ul class="list-unstyled">
        <li><a href="#">Civic Models</a></li>
        <li><a href="#">Insight Hybrid</a></li>
        <li><a href="#">Accord Models</a></li>
        <li><a href="#">HR-V Crossover</a></li>
        <li><a href="#">CR-V Crossover</a></li>
        <li><a href="#">Passport SUV</a></li>
        <li><a href="#">Odyssey Minivan</a></li>
        <li><a href="#">Ridgeline Truck</a></li>
        <li><a href="#">Future Vehicles</a></li>
        <li><a href="#">Rugged Capability</a></li>
        <li><a href="#">Electrified Vehicles</a></li>
        <li><a href="#">Honda Certified Pre-Owned</a></li>
        <li><a href="#">All Vehicles</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-detail">
    <h1 class="d-none d-lg-block">Discover Honda</h1>
    <h1
      class="d-flex d-lg-none"
      data-toggle="collapse"
      data-target="#vehicle-footer-discover"
    >
      <span>Discover Honda</span>
      <i class="fa fa-plus"></i>
    </h1>
    <div id="vehicle-footer-discover" class="collapse-ul">
      <ul class="list-unstyled">
        <li><a href="#">Civic Models</a></li>
        <li><a href="#">Insight Hybrid</a></li>
        <li><a href="#">Accord Models</a></li>
        <li><a href="#">HR-V Crossover</a></li>
        <li><a href="#">CR-V Crossover</a></li>
        <li><a href="#">Passport SUV</a></li>
        <li><a href="#">Odyssey Minivan</a></li>
        <li><a href="#">Ridgeline Truck</a></li>
        <li><a href="#">Future Vehicles</a></li>
        <li><a href="#">Rugged Capability</a></li>
        <li><a href="#">Electrified Vehicles</a></li>
        <li><a href="#">Honda Certified Pre-Owned</a></li>
        <li><a href="#">All Vehicles</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-detail">
    <h1 class="d-none d-lg-block">Help & Support</h1>
    <h1
      class="d-flex d-lg-none"
      data-toggle="collapse"
      data-target="#vehicle-footer-help"
    >
      <span>Help & Support</span>
      <i class="fa fa-plus"></i>
    </h1>
    <div id="vehicle-footer-help" class="collapse-ul">
      <ul class="list-unstyled">
        <li><a href="#">Civic Models</a></li>
        <li><a href="#">Insight Hybrid</a></li>
        <li><a href="#">Accord Models</a></li>
        <li><a href="#">HR-V Crossover</a></li>
        <li><a href="#">CR-V Crossover</a></li>
        <li><a href="#">Passport SUV</a></li>
        <li><a href="#">Odyssey Minivan</a></li>
        <li><a href="#">Ridgeline Truck</a></li>
        <li><a href="#">Future Vehicles</a></li>
        <li><a href="#">Rugged Capability</a></li>
        <li><a href="#">Electrified Vehicles</a></li>
        <li><a href="#">Honda Certified Pre-Owned</a></li>
        <li><a href="#">All Vehicles</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-detail">
    <h1 class="d-none d-lg-block">Owners</h1>
    <h1
      class="d-flex d-lg-none"
      data-toggle="collapse"
      data-target="#vehicle-footer-owner"
    >
      <span>Owners</span>
      <i class="fa fa-plus"></i>
    </h1>
    <div id="vehicle-footer-owner" class="collapse-ul">
      <ul class="list-unstyled">
        <li><a href="#">Civic Models</a></li>
        <li><a href="#">Insight Hybrid</a></li>
        <li><a href="#">Accord Models</a></li>
        <li><a href="#">HR-V Crossover</a></li>
        <li><a href="#">CR-V Crossover</a></li>
        <li><a href="#">Passport SUV</a></li>
        <li><a href="#">Odyssey Minivan</a></li>
        <li><a href="#">Ridgeline Truck</a></li>
        <li><a href="#">Future Vehicles</a></li>
        <li><a href="#">Rugged Capability</a></li>
        <li><a href="#">Electrified Vehicles</a></li>
        <li><a href="#">Honda Certified Pre-Owned</a></li>
        <li><a href="#">All Vehicles</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-touch">
    <div class="touch-left">
      <h1>Stay In Touch</h1>
      <i class="fa fa-facebook"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-youtube-play"></i>
      <i class="fa fa-google-plus"></i>
      <i class="fa fa-instagram"></i>
      <i class="fa fa-linkedin"></i>
      <i class="fa fa-snapchat"></i>
      <i class="fa fa-google-wallet"></i>
    </div>
    <div class="touch-right">
      <p>Recive the last news and exclusive updates</p>
      <button class="btn-btn-search">
        <i class="fa fa-envelope"></i>
        STAY INFORMED
      </button>
    </div>
  </div>
</footer>
