@import "../../../../src/assets/scss/Helpers/_variable.scss";
@import "../../../../src/assets/scss/Helpers/_mixin.scss";
body {
  margin: 0;
  padding: 0;
}


// ----------swipper-slider---------------------

#swiper-slider {
  // position: relative;
  margin-top: 60px;
  z-index: 2;
}

#carouselExampleControls {
  height: 750px;
  margin-top: $mg-5;
  background-color: $color-dark-blue-200;
  .carousel-inner {
    height: 500px;
    .carousel-item {
      height: 96%;
    }
  }
  .carousel-control-prev, .carousel-control-next {
    i {
      position: absolute;
      font-size: $font-size-5;
      top: 20%;
      background-color:$color-blue-overlay;
      padding: $pd-6 $pd-4;
      border-radius: 0.9rem;
    }
  }
}

// .carousel-control-next-icon,
// .carousel-control-prev-icon {
//   position: relative;
//   top: -20% !important;
//   font-size: $font-size-5!important;
//   background-color:$color-blue-overlay!important;
//   padding: $pd-6 $pd-4!important;
//   border-radius: 0.9rem !important;
// }

#swiper-slider .carousel-control-next-icon {
  right: -1rem;
}
#swiper-slider .carousel-control-prev-icon {
  left: -1rem;
}

.carousel-control-explore {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 50%;
  z-index: 8;
  margin: 0 auto;
}
button.btn.btn-carousel {
  margin: 0 auto;
  text-align: center;
  position: relative;
}

